# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and temporary folders
.pytest_cache/
.mypy_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# Streamlit local secrets
.streamlit/secrets.toml

# IDE & Editor files
.vscode/
.idea/
.kilo/

# OS specific files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
